/*
** **
** ** ** Use a more intuitive box model
** **
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
** **
** ** ** Remove default margins
** **
*/
* {
  margin: 0;
  padding: 0;
}

/*
** **
** ** ** Allow percentage based heights 
** **
*/
html,
body,
#root {
  height: 100%;
}

/*
** **
** ** ** Accessible line height and improved text rendering
** **
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
** **
** ** ** Improve media elements' default behaviour
** **
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/*
** **
** ** ** Default font family for the code element
** **
*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
** **
** ** ** Remove default typography from the form inputs
** **
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
** **
** ** ** Avoid text overflow
** **
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

/*
** **
** ** ** Create a seperate stacking context for the root element
** **
*/
#root {
  isolation: isolate;
}
